.main {
  @include xl-block {
    min-width: 458px;
  }
}

.agreement {
  margin: 0 auto;
  max-width: 406px;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #b9b9b9;

  a {
    color: var(--color-primary);
  }
}

.controls {
  display: grid;
  grid-column: 1/-1;
  width: 100%;
  gap: 20px;

  button {
    width: 100%;

    &:last-child {
      padding: 0;
    }
  }
}

.backButton {
  transform: rotate(180deg);
}

.loginButton {
  width: 100%;
  text-align: center;
}
