@use "sass:math";

@mixin font-face($font-family, $url, $weight, $style) {
  @font-face {
    src: url("/fonts/#{$url}.woff2") format("woff2");
    font-family: "#{$font-family}";
    font-weight: #{$weight};
    font-style: $style;
    font-display: swap;
  }
}

@mixin list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

@mixin btn-reset {
  margin: 0;
  outline: none;
  border: none;
  padding: 0;
  background: none;
  cursor: pointer;
  color: inherit;

  &:focus {
    outline: none;
  }
}

@mixin xxl-block {
  @media (min-width: (1400px)) {
    @content;
  }
}

@mixin xl-block {
  @media (min-width: (1280px)) {
    @content;
  }
}

@mixin lg-block {
  @media (min-width: (992px)) {
    @content;
  }
}

@mixin md-block {
  @media (min-width: (768px)) {
    @content;
  }
}

@mixin sm-block {
  @media (min-width: 592px) {
    @content;
  }
}

@mixin breakpoint($breakpoint) {
  @media (min-width: $breakpoint) {
    @content;
  }
}

@function vw($x) {
  @return #{math.div((100 * $x), 1920)}vw;
}

@function vm($x) {
  @return #{math.div((100 * $x), 360)}vw;
}

@mixin webp($webp, $fallback) {
  background-image: url($fallback);

  /* Chrome 66+, Edge 79+, Opera 53+, Android Brower 80+ */
  @media screen and (-webkit-min-device-pixel-ratio: 0) and (min-resolution: 0.001dpcm) {
    @supports (background-image: -webkit-image-set(url($webp) 1x)) {
      background-image: -webkit-image-set(url($webp) 1x);
    }
  }

  /* FF 66+ */
  @supports (flex-basis: max-content) and (-moz-appearance: meterbar) {
    background-image: url($webp);
  }
}
