.about {
  padding: 73px 0;
}

.wrapperPicture {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin-bottom: 32px;
  border-radius: var(--radius-m);
  padding: 15px;
  width: 100%;
  height: fit-content;
  min-height: 177px;
  background: #eff0f7;

  @include sm-block {
    min-height: 304px;
  }

  @include md-block {
    min-height: 378px;
  }
}

h1.title {
  text-align: center;
}

.aboutRow {
  @include lg-block {
    display: grid;
    column-gap: var(--space-l);
    grid-template-columns: 1fr 1fr;
    row-gap: 60px;
  }
}

.aboutCol {
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;

  @include lg-block {
    margin-bottom: 0;
  }
}

.btn {
  margin-top: auto;
  width: 100%;

  @include md-block {
    width: fit-content;
  }
}
